
div {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.content-wrapper {
  h1 {
    @apply text-4xl font-semibold tracking-tight text-balance
  }
  a {
    @apply dark:text-white text-black font-semibold hover:opacity-80
  }
}
  