@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Figtree', sans-serif;
}

:root {
  --ui-container: var(--container-5xl);
}

h1 {
  @apply text-4xl md:text-5xl font-extrabold;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.25) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
